@import "./css/components.css";
@import "./css/themes.css";
@import "./css/general.css";
@import "./css/headings.css";
@import "./css/text-aligns.css";

#wanderer-main {
  position: absolute;
  width: 100%;
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

.wanderer-tooltip[data-popper-placement^="top"] > #arrow::before {
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
}

.wanderer-tooltip[data-popper-placement^="bottom"] > #arrow::before {
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-left-width: 1px;
}

.wanderer-tooltip[data-popper-placement^="left"] > #arrow::before {
  border-right-width: 1px;
  border-bottom-width: 0px;
  border-top-width: 1px;
  border-left-width: 0px;
}

.wanderer-tooltip[data-popper-placement^="right"] > #arrow::before {
  border-right-width: 0px;
  border-bottom-width: 1px;
  border-top-width: 0px;
  border-left-width: 1px;
}

/*  */

.wanderer-tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -10px;
}

.wanderer-tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -10px;
}

.wanderer-tooltip[data-popper-placement^="left"] > #arrow {
  right: -10px;
}

.wanderer-tooltip[data-popper-placement^="right"] > #arrow {
  left: -10px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: -1;
}

#arrow::before {
  content: "";
  transform: rotate(45deg);
}
