@import "./css/components.css";
@import "./css/general.css";
@import "./css/headings.css";
@import "./css/text-aligns.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --arrow-color: #fff;
}

.wanderer-tooltip[data-popper-placement^="top"] > #arrow::before {
  @apply gdx-border-r gdx-border-b gdx-border-t-0 gdx-border-l-0;
}

.wanderer-tooltip[data-popper-placement^="bottom"] > #arrow::before {
  @apply gdx-border-l gdx-border-t gdx-border-b-0 gdx-border-r-0;
}

.wanderer-tooltip[data-popper-placement^="left"] > #arrow::before {
  @apply gdx-border-t gdx-border-r gdx-border-b-0 gdx-border-l-0;
}

.wanderer-tooltip[data-popper-placement^="right"] > #arrow::before {
  @apply gdx-border-b gdx-border-l gdx-border-t-0 gdx-border-r-0;
}

/*  */

.wanderer-tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -10px;
}

.wanderer-tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -10px;
}

.wanderer-tooltip[data-popper-placement^="left"] > #arrow {
  right: -10px;
}

.wanderer-tooltip[data-popper-placement^="right"] > #arrow {
  left: -10px;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: -1;
}

#arrow::before {
  content: "";
  transform: rotate(45deg);
}

.soft-highlight-shadow {
  box-shadow: inset 0px 0px 8px 4px rgb(0 0 0 / 20%),
    0px 0px 10000px 10000px rgb(0 0 0 / 20%);
}

.hard-highlight-shadow {
  box-shadow: 0px 0px 10000px 10000px rgb(0 0 0 / 20%);
}
