/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.home {
  margin: 0;
  position: absolute;
  top: 44%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
}
