.WANDERER_DARK {
  .wanderer-tooltip {
    background-color: #1f2937;
    color: #fff;
    border: none;
  }

  .wanderer-button-wrapper {
    background-color: #2563eb;
    color: #fff;
  }

  .wanderer-tooltip-arrow::before {
    background-color: #1f2937;
    border: none;
  }

  .wanderer-modal {
    background-color: #1f2937;
    color: #fff;
    border: none;
  }
}
