.WANDERER_LIGHT {
  .wanderer-tooltip {
    background-color: #fff;
    border: 1px solid #d1d5db;
  }

  .wanderer-button-wrapper {
    background-color: #2563eb;
    color: #fff;
  }

  .wanderer-tooltip-arrow::before {
    border: 1px solid #d1d5db;
    background-color: #fff;
  }

  .wanderer-modal {
    background-color: #fff;
    border: 1px solid #d1d5db;
  }
}
