.wanderer-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  padding: 10px 15px;
  width: 400px;
  border-radius: 4px;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 #0000, 0 0 #0000, var(--tw-shadow);
  max-width: 90%;
}

.wanderer-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 90;
}

.wanderer-modal {
  .wanderer-image {
    margin: 15px 0px;
  }

  .wanderer-button {
    margin-top: 25px;
  }
}
